apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: tumorra-api
  labels:
    cloud.googleapis.com/location: europe-west1
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "0"
        autoscaling.knative.dev/maxScale: "10"
        run.googleapis.com/cpu-throttling: "true"
    spec:
      containerConcurrency: 80
      timeoutSeconds: 300
      containers:
        - image: gcr.io/PROJECT_ID/tumorra-api:latest
          ports:
            - containerPort: 8000
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
          env:
            - name: DEBUG
              value: "false"
            - name: GCP_PROJECT_ID
              valueFrom:
                secretKeyRef:
                  name: gcp-project-id
                  key: latest
